
button.btn.btn-danger {
  background-color: white;
  color: red;
}

button.btn.btn-danger:hover {
  background-color: red;
  color: white;
}

.img-circle {
  max-height: 50px;
  margin-right: 5px;
}
